<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include("./partials/head")%>
</head> <a href=""></a>

<body>
    <%- include("./partials/header")%>
        <h1 class="msgAprobation">Hemos recibido sus datos correctamente, clickee <a href="/">aqui</a> para volver al
            inicio</h1>

        <%- include("./partials/footer")%>
</body>

</html>