<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include("./partials/head")%>
</head> <a href=""></a>

<body>
    <%- include("./partials/header")%>
        <h1>Hello World User Profile</h1>

        <%- include("./partials/footer")%>
</body>

</html>